html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.esri-view {
  height: 100%;
  width: 100%;
}

.esri-ui-bottom-right {
  display: block;
}

.esri-ui-bottom-right .esri-component {
  margin: 4px;
}
